# No ignorar el archivo "credenciales_example.data"
!credenciales_example.data

# Ignorar archivo específico "credenciales.data"
credenciales.data

# Ignorar __pycache__ directorio
__pycache__/

# Ignorar nombre de entorno de Python
nombre_del_entorno
